<div class="form-group">
  <label for="item">Books To add to the list</label>
  <input class="form-control"
         name="description"
         placeholder="Book Name"
         #description>
  <br />
  <input class="form-control"
         name="author"
         placeholder="Author"
         #author>
  <br />

  <select class="form-control"
          name="bookCovers"
          #bookcovervalue>
    <option value="">Select Publication Format</option>
    <option value="HardCover">HardCover</option>
    <option value="PaperBack">PaperBack</option>
    <option value="E-Book">E-Book</option>
  </select>
  <br />
  <input type="button"
         class="btn btn-primary margin-top"
         value="Add Book"
         (click)="addItem(description,author,bookcovervalue)">

</div>
<!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    Book Cover
  </button>
  <div class="dropdown-menu"
       #bookcovervalue
       aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item">HardCover</a>
    <a class="dropdown-item">PaperBack</a>
    <a class="dropdown-item">E-Book</a>
  </div>
</div>
<br />
<label for="bookCovers">Choose a book cover:</label>
<select id="bookCovers"
        name="bookCovers"
        #bookcovervalue>
  <option value="HardCover">HardCover</option>
  <option value="PaperBack">PaperBack</option>
  <option value="E-Book">E-Book</option>

</select>
<br />
<br />
<br />


<input type="button"
       class="btn btn-primary"
       value="Add Book"
       (click)="addItem(description,author,bookcovervalue)"> -->
